<header class="site-header">
  <div class="content_center_header">
    <div class="logotype_IngLoam">
      <a routerLink="/" class="logo_image_link">
        <div class="IngLoam_corporation">
          <img src="IngLoam.png" alt="IngLoam Logo" class="logo-image" />
        </div>
      </a>
    </div>

    <div class="search_form_module">
      <form action="" class="search-form">
        <svg
          class="search-icon"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="25"
          height="25"
        >
          <path
            d="M10 18a7.952 7.952 0 0 0 4.897-1.688l4.396 4.396 1.414-1.414-4.396-4.396A7.952 7.952 0 0 0 18 10c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8zm0-14c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6 2.691-6 6-6z"
          ></path>
          <path
            d="M11.412 8.586c.379.38.588.882.588 1.414h2a3.977 3.977 0 0 0-1.174-2.828c-1.514-1.512-4.139-1.512-5.652 0l1.412 1.416c.76-.758 2.07-.756 2.826-.002z"
          ></path>
        </svg>
        <input type="text" placeholder="Search" class="search-input" />
      </form>
    </div>

    <div class="sign_or_reg_panel">
      <ng-container *ngIf="isAuthenticated; else guestLinks">
        <div class="login_information">
          <div class="notifications_user_box" title="Уведомления">
            <svg class="notification-icon" fill="white" viewBox="0 0 16 16">
              <path
                d="M2.8 2.06A1.75 1.75 0 0 1 4.41 1h7.18c.7 0 1.333.417 1.61 1.06l2.74 6.395v4.5A1.75 1.75 0 0 1 14.25 15H1.75A1.75 1.75 0 0 1 0 13.25v-4.5Z"
              ></path>
            </svg>
          </div>

          <nav class="nav-buttons">
            <a routerLink="/repos">Repositories</a>
            <a routerLink="/projects">Projects</a>
            <a routerLink="/projects">Mail</a>
          </nav>

          <div class="avatar-dropdown">
            <img
              [src]="avatarUrl || 'https://avatars.githubusercontent.com/u/583231?v=4'"
              alt="avatar"
              class="avatar-image"
            />

            <ul class="dropdown-menu">
              <li title="Профиль">
                <button (click)="navigateTo('/profile')">
                  <svg
                    viewBox="0 0 16 16"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <path
                      d="M8 9a3 3 0 1 0-3-3 3 3 0 0 0 3 3Zm0 1c-2 0-6 1-6 3v1h12v-1c0-2-4-3-6-3Z"
                    />
                  </svg>
                  Profile
                </button>
              </li>
              <li title="Настройки">
                <button (click)="navigateTo('/settings')">
                  <svg
                    viewBox="0 0 16 16"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <path
                      d="M8 1a7 7 0 1 0 7 7A7 7 0 0 0 8 1Zm0 12a5 5 0 1 1 5-5 5 5 0 0 1-5 5Z"
                    />
                  </svg>
                  Settings
                </button>
              </li>
              <li title="Выйти">
                <button (click)="logout()">
                  <svg
                    viewBox="0 0 24 24"
                    width="20"
                    height="20"
                    fill="currentColor"
                  >
                    <path
                      d="M16 13v-2H7V8l-5 4 5 4v-3zm2-10H6c-1.1 0-2 .9-2 2v4h2V5h12v14H6v-4H4v4c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"
                    />
                  </svg>
                  Exit
                </button>
              </li>
            </ul>
          </div>
        </div>
      </ng-container>

      <ng-template #guestLinks>
        <a routerLink="/login" class="auth-link sign-in">Войти</a>
        <a routerLink="/register" class="auth-link register">Регистрация</a>
      </ng-template>
    </div>
  </div>
</header>
