:root {
    --bg-white: #121212;                
    --bg-light: rgba(255, 255, 255, 0.05); 
    --bg-dark: #0e0e0e;

    --gray-border: rgba(255, 255, 255, 0.15); 
    --hover-gray: rgba(255, 255, 255, 0.08);

    --text-main: #ffffff;
    --text-muted: rgba(255, 255, 255, 0.6);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

body{
    background: #111111;
}